body{
    background-color: lightgrey;
}

h1{
    color: black;
    text-align: center;
}

p{
    font-family: fantasy;
    font-size: 20px;
    text-align: center;
    color: black;
}

.container img{
    border-radius: 10px;
}