body{
    background-color: lightgrey;
}

h1{
    color: black;
    text-align: center;
    font-family: Copperplate;
}

p{
    font-family: Copperplate;
    font-size: 12px;
    text-align: center;
    color: rgb(255, 255, 255);
}

.container img{

    padding: 10px;
    margin: auto;
}





