body{
    background-color: lightgrey;
}

h1{
    color: black;
    text-align: center;
    font-family: Copperplate;
}

p{
    font-family: Copperplate;
    font-size: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
}

.container{
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

.container img{

    padding: 10px;
    margin: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}





