body{
    background-color: lightgrey;
}

h1{
    color: black;
    text-align: center;
    font-family: Copperplate;
}

p{
    font-family: Copperplate;
    font-size: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
}

.container{
    display: flex;
    border: 1px solid black;
    padding: 15px;
    gap: 10px;
}   

.container img{
    flex: 1;
    padding: 10px;
    object-fit: cover;
}





