body{
    background-color: lightgrey;
}

h1{
    color: black;
    text-align: center;
    font-family: Copperplate;
}

p{
    font-family: Copperplate;
    font-size: 20px;
    text-align: center;
    color: rgb(55, 41, 252);
}

.container img{

    padding: 10px;
    margin: auto;
}

.top_logo logo_img{
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}



