body{
    background-color: lightgrey;
}

h1{
    color: black;
    text-align: center;
    font-family: Copperplate;
}

p{
    font-family: Copperplate;
    font-size: 20px;
    text-align: center;
    color: black;
}

.container img{
    border-radius: 10px;
}

.flip{
    padding: 10px;
    text-align: center;
    background-color: bisque;
    color: white;
    border: solid 1px #a6d8a8;
    margin: auto;
    cursor: pointer;
}
.panel{
    display: none;
}

